<section>
    <h2>Informacion de la web</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis provident exercitationem nostrum harum eos
        recusandae accusamus, minus, beatae quam doloremque nobis quidem! Voluptatibus harum et tenetur, fugiat
        praesentium optio iure?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ullam at corrupti vero expedita pariatur
        consequuntur quaerat nisi excepturi ab, sequi aut natus ratione quae repudiandae blanditiis explicabo ut odit.
    </p>
</section>