.header {
  background-color: $color_primary;


  @media (min-width:768px){
    @include displayFlexContent();
  }

  & nav {
    display: none;

    @media (min-width:768px){
      display: block;
    }
  }

  &__title {
    color: blue;
  }
}

.menu{
  display: flex;
  list-style: none;
  gap: 10px;

  &__li--link{
    color: white;
    text-decoration: none;
    background-color: aqua;
    padding: 5px;

    &:hover{
      color: black;
    }
  }
}